<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/nexon.jpeg" class="card-img-top" alt="nexon car">
                <div class="card-body">
                    <h5 class="card-title">TATA Nexon</h5>
                    <ul>
                        <li>Automatic</li>
                        <li>Diesel</li>
                        <li>5 Seats</li>
                        <p>Rs 650/hr</p>
                    </ul>
                    <a href="#" class="btn btn-primary" routerLink="/admin/rentcar">Rent Car</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/dzire2.jpeg" class="card-img-top" alt="nexon car">
                <div class="card-body">
                    <h5 class="card-title">Maruti Suzuki Dzire</h5>
                    <ul>
                        <li>Automatic</li>
                        <li>Petrol</li>
                        <li>5 Seats</li>
                        <p>Rs 550/hr</p>
                    </ul>

                    <a href="#" class="btn btn-primary" routerLink="/admin/rentcar">Rent Car</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/seltos.jpeg" class="card-img-top" alt="nexon car">
                <div class="card-body">
                    <h5 class="card-title">Kia Seltos</h5>
                    <ul>
                        <li>Manual</li>
                        <li>Petrol</li>
                        <li>5 Seats</li>
                        <p>Rs 600/hr</p>
                    </ul>

                    <a href="#" class="btn btn-primary"  routerLink="/admin/rentcar">Rent Car</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/xuv300.jpeg" class="card-img-top" alt="nexon car">
                <div class="card-body">
                    <h5 class="card-title">Mahindra XUV300</h5>
                    <ul>
                        <li>Automatic</li>
                        <li>Diesel</li>
                        <li>5 Seats</li>
                        <p>Rs 650/hr</p>
                    </ul>
                    
                    <a href="#" class="btn btn-primary" routerLink="/admin/rentcar">Rent Car</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/innovac.jpeg" class="card-img-top" alt="nexon car">
                <div class="card-body">
                    <h5 class="card-title">Toyota Innova Crysta</h5>
                    <ul>
                        <li>Manual</li>
                        <li>Petrol</li>
                        <li>7 Seats</li>
                        <p>Rs 750/hr</p>
                    </ul>
                    
                    <a href="#" class="btn btn-primary" routerLink="/admin/rentcar">Rent Car</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/tata.jpeg" class="card-img-top" alt="nexon car">
                <div class="card-body">
                    <h5 class="card-title">2023 Tata Altroz</h5>
                    <ul>
                        <li>Manual</li>
                        <li>Diesel</li>
                        <li>5 Seats</li>
                        <p>Rs 500/hr</p>
                    </ul>
                    
                    <a href="#" class="btn btn-primary" routerLink="/admin/rentcar">Rent Car</a>
                </div>
            </div>
        </div>
    </div>
</div>