<section class="about" id="about">
    <div class="heading">
        <span>About Us</span>
        <h1>Best Customer Experience</h1>
    </div>
    
    <div class="about-container">
      <div class="about-img"> 
      <img src="https://platform.cstatic-images.com/xlarge/in/v2/stock_photos/b8b8abd2-feae-422e-8fce-b8d1603f9123/0628062e-3546-45cd-9abf-b2950da23fa0.png"  width="500px" height="300px">
      <!-- <img src="https://www.pngarts.com/files/3/Orange-Jeep-PNG-Pic.png" width="500px" height="300px"> -->
    </div>
    <div class="about-text">
        <span>About Us</span><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Atque sit optio consectetur voluptate repellat.Nulla harum ipsa nihil voluptate iste omnis distinctio maiores iure voluptatem consequatur rerum quidem asperiores eaqua at animi,optio hic?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt labore aliquam dicta quam est totam porro repellat iste. </p>
        <a href="#" class="btn">Learn More</a>
    </div>
    </div>
</section>