



nav {
    /* background-image: linear-gradient(to right,rgb(240,117,15),rgb(240,149,55)); */
    background-color:  #dadbdc;
    height: 90px;
    width: 100%;
    /* position: fixed; */
}

label.logo {
    color: rgb(197, 97, 4);
    font-size: 35px;
    font-weight: bold;
    padding-left: 5px;
}

nav ul {
    margin-right: 20px;
    padding-left: 0%;

    
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}