<nav class="navbar" >

    <label class="logo"><i class="fa fa-car-side me-2"></i>Car Rental Website</label>
    <ul>
        <li ><a routerLink="home">Home</a></li>
        <li><a routerLink="services">Services</a></li>
        <li><a routerLink="rentrecord">Rent Records</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="review">Review</a></li>
        <li><button  class="btn" (click)="logout()" style="background-color: #6f05b6;color:white">Logout</button></li>
        
    </ul>
  </nav> 


